%h1 Disneyland Helper

%p This is in no way shape or form affiliated with Disneyland.

%p
  It all started when one day I went to Disneyland wanting to use my annual pass.  Only when I arrived was I told that it was a black out day for my pass.  I thought why can't I txt someone to ask if my pass is blocked out that day.  So I made this.

%iframe{:style => "width:100%;height:300px;border:none;", :frameborder => 0, :allowtransparency => 0, :id => "zeep_mobile_settings_panel", :src => "https://secure.zeepmobile.com/subscription/settings?api_key=7420a9ad-0863-48f3-bc5f-a7ed9c19f94e&user_id=#{@user.uuid}"}
 